@model IEnumerable<{{ProjectName}}.Models.{{Name}}>

@{
    ViewData["Title"] = "{{Name}} Index";
}

<h1>{{Name}} List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            {{ for prop in Properties }}
            <th>{{ prop.Name }}</th>
            {{ end }}
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            {{ for prop in Properties }}
            <td>@Html.DisplayFor(modelItem => item.{{ prop.Name }})</td>
            {{ end }}
        </tr>
}
    </tbody>
</table>
